* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Times New Roman", sans-serif;
}


:root {
  --dark-background: #1F2937;
  --button-color: #3882F6;
  --white: #F9FAF8;
  --grey: #E5E7EB;
  --black: #1F2937;
}

/*Header*/
header, footer {
  flex: 0 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-background);
  padding: 20px 100px;
}

header h3 {
  color: var(--white);
  font-size: 24px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

ul li a {
  text-decoration: none;
  color: var(--grey);
  font-size: 18px;
}

/*Hero*/

.hero {
  background-color: var(--dark-background);
  padding: 100px 100px;
  display: flex;
  gap: 48px;;
}

h1 {
  font-size: 48px;
  color: var(--white);
  font-weight: 900;
}

.hero p {
  color: var(--grey);
  font-size: 18px;
}

.hero button {
  margin-top: 16px;
  background-color: var(--button-color);
  padding: 12px 32px;
  color: var(--white);
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.hero-text, .picture{
  flex: auto;
  width: 50%;
}

.picture {
  background-color: #999ea9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .picture p {
  color: var(--white)
}

/*Content seciton*/

.information {
  padding: 60px 120px;
  text-align: center;
}

.information h2 {
  font-size: 36px;
  color: var(--black);
  font-weight: 900;
  margin-bottom: 20px;
}

.card {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  height: auto;
  border: 2px solid var(--button-color);
  border-radius: 8px;
}

.content-description {
  flex: 1 1 auto;
  margin-top: 12px;
}


.card-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

/*quote section*/

.quote {
  background-color: var(--grey);
  color: var(--black);
  display: flex;
  flex-direction: column;
  padding: 140px 120px;;
}

em {
  font-size: 36px;
}

.quote h4 {
  font-weight: 900;
  font-size: 18px;
  margin-left: auto;
  margin-top: 18px;
}

/*action section*/
